.rank-list
  - @rank.each_with_index do |recipe, rank|
    .rank-box
      .rank-int
        = "#{rank + 1}ä½"
      .rank-name
        = link_to "#{recipe.name}", recipe_path(recipe.id)
        .like
          %div{id: "likes_buttons_#{recipe.id}"}
            = render 'recipes/favorite', {r: recipe}
      .rank-image
        = image_tag recipe.image.thumb.url
        .rank-introduction
          = recipe.introduction
      .user-name
        = recipe.user.name