.nested-fields
  = f.label :order, "手順"
  = f.collection_select(:order_id, @orders, :id, :number, {prompt: ""})
  = f.label :sentence, "作り方"
  = f.text_area :sentence
  = link_to_remove_association "削除", f