-# 後で所定の位置に移動
= link_to "favorites#rank", rank_favorite_path
-# ここまで

.r-all
  - @recipes.each do |r|
    .r-all__list
      = link_to "#{r.name}", recipe_path(r.id), class: "r-name"
      %div{id: "likes_buttons_#{r.id}"}
        = render 'favorite', {r: r}

      .r-image
        - if r.image?
          = image_tag r.image.thumb.url
        -else
          = image_tag asset_path('default.png')
      .user-image
        - if r.user.image?
          = image_tag r.user.image.thumb.url
        - else
          = image_tag asset_path('default.png')
        .user-name
          = link_to "#{r.user.name}", user_path(r.user.id), class: "u-name"