.r-all
  - @recipes.each do |r|
    .r-all__list
      = link_to "#{r.name}", recipe_path(r.id), class: "r-name"
      - if current_user.favorited_by?(r.id)
        .like
          = link_to destroy_favorite_path(r), method: :delete do
            = icon("fas", "heart", class: "unlike-btn")
            .like-count
              = r.favorites.count
      - else
        .like
          = link_to create_favorite_path(r), method: :POST do
            = icon("far", "heart", class: "like-btn")
            .like-count
              = r.favorites.count
      .r-image
        - if r.image?
          = image_tag r.image.thumb.url
        -else
          = image_tag asset_path('default.png')
      .user-image
        - if r.user.image?
          = image_tag r.user.image.thumb.url
        - else
          = image_tag asset_path('default.png')
        .user-name
          = link_to "#{r.user.name}", user_path(r.user.id), class: "u-name"