= render 'recipes/search'

- @recipes.order(created_at: :desc).each do |r|
  = link_to "#{r.name}", recipe_path(r.id), class: "r-name"
  - if r.image?
    = image_tag r.image.thumb.url
  -else
    = image_tag '/assets/default.png', class: "image"

  = link_to "#{r.user.name}", user_path(r.user.id), class: "user-name"
  
  - if current_user.favorited_by?(r.id)
    = link_to destroy_favorite_path(r), method: :delete do
      = icon("fas", "heart", class: "unlike-btn")
      = r.favorites.count
  - else
    = link_to create_favorite_path(r), method: :POST do
      = icon("far", "heart", class: "like-btn")
      = r.favorites.count