.f-recipe
  = form_with model: @recipe, local: true do |f|
    .f-name
      = f.label :name, "レシピ名"
      .f-text
        = f.text_field :name, class: "recipe-name", autofocus: true, placeholder: "レシピ名"
    .f-category
      %p
        = f.label :category, "ジャンル"
        .f-text
          = f.collection_select(:category_id, Category.all, :id, :name, {prompt: "選択してください"})
    .f-introduction  
      %p
        = f.label :introduction, "紹介文"
        .f-text
          = f.text_area :introduction, placeholder: "紹介文"
    .f-serving
      %p
        = f.collection_select(:serving_id, Serving.all, :id, :number, {prompt: "選択してください"})
        = f.label :serving_id, "人分"
    .f-ingredient
      材料・分量
      %p
        = f.fields_for :ingredients do |i|
          = render 'ingredient_fields', f: i
          .links
            =link_to_add_association "+食材を追加", f, :ingredients, class: "ing-add"
    .f-make
      手順・作り方
      %p
        = f.fields_for :makes do |m|
          = render 'make_fields', f: m
          .links
            = link_to_add_association "+工程を追加", f, :makes, class: "make-add"
    .f-image      
      %p
        = f.file_field :image
    .f-submit
      %p
        = f.submit "レシピを書く"