.word
.top-list
  - @serving_list.order(created_at: :desc).each do |recipe|
    .top-box
      .top-name
        = link_to "#{recipe.name}", recipe_path(recipe.id)
        .like
          %div{id: "likes_buttons_#{recipe.id}"}
            = render 'favorite', {recipe: recipe}
        .top-image
          - if recipe.image?
            = image_tag recipe.image.thumb.url
          -else
            = image_tag asset_path('default.png', class: "image")
          .top-introduction
            = recipe.introduction
        .user-image
          - if recipe.user.image?
            = image_tag recipe.user.image.thumb.url
          - else
            = image_tag asset_path('default.png')
          .user-name
            = link_to "#{recipe.user.name}", user_path(recipe.user.id)