.recipe
  - if user_signed_in? && current_user.id == @recipe.user_id
    .recipe-link
      = link_to edit_recipe_path(@recipe.id), method: :get do
        = icon("fas", "edit", class: "edit-btn")
    .recipe-link
      = link_to "#{@recipe.id}", data: {confirm: "本当に#{@recipe.name}を削除しますか？"}, method: :delete do
        = icon("fas", "trash-alt", class: "delete-btn")
  -else
    .user-name
      = link_to "#{@recipe.user.name}さんのレシピ", user_path(@recipe.user_id)
      .recipe-like
        %div{id: "likes_buttons_#{@recipe.id}"}
          = render 'favorite', {r: @recipe}
  .recipe-category
    = @recipe.category.name
  .recipe-name
    = @recipe.name
  .recipe-introduction
    = @recipe.introduction
  .recipe-image
    = image_tag @recipe.image.thumb.url
    .ingredient
      [材料]
      = "(#{@recipe.serving_id}人分)"
      .delete-items
        = link_to "全て未購入にする", destroy_all_buy_item_path(buy_item: {user_id: current_user.id, recipe_id: @recipe.id}), method: :delete, class: "delete-all"
      .ingredient-detail
        - @ingredient.each do |ingredient|
          .ingredient
            = ingredient.name
            .items
              = ingredient.amount
              .item-btn
                %div{id: "item_buttons_#{ingredient.id}"}
                  = render 'item', {ingredient: ingredient}
  .recipe-make
    [作り方]
    - @recipe.makes.each do |make|
      .content
        = "[#{make.order_id}]"
        = make.sentence
.comments
  .comments-form
    = form_with model: [@recipe, @comment], local: true do |f|
      .c-area
        = f.text_area :text, placeholder: "コメントする"
      .c-sub
        = f.submit "送信"
  .comments-form__text-all
    %h4
      ＜コメント一覧＞
    - if @comments.present?
      - @comments.order('created_at DESC').each do |c|
        .comments-form__text-all__list
          .c-image
            = image_tag c.user.image.thumb.url
          .c-name
            = link_to c.user.name, user_path(c.user.id)
            .c-text
              = c.text
          .destroy-btn
          - if c.user == current_user
            = link_to recipe_comment_path(@recipe, c), method: :delete do
              = icon("fas", "trash-alt", class: "btn") 
    - else
      = "まだコメントがありません" 