.recipe
  - if user_signed_in? && current_user.id == @recipe.user_id
    .recipe-link
      = link_to edit_recipe_path(@recipe.id), method: :get do
        = icon("fas", "edit", class: "edit-btn")
    .recipe-link
      = link_to "#{@recipe.id}", data: {confirm: "本当に#{@recipe.name}を削除しますか？"}, method: :delete do
        = icon("fas", "trash-alt", class: "delete-btn")
  -else
    .user-name
      = link_to "#{@recipe.user.name}さんのレシピ", user_path(@recipe.user_id), class:"user_name_font"
      .recipe-like
        %div{id: "likes_buttons_#{@recipe.id}"}
          = render 'favorite', {recipe: @recipe}
  .recipe-category
    = @recipe.category.name
  .recipe-name
    = @recipe.name
  .recipe-introduction
    = @recipe.introduction
  .recipe-image
    = image_tag @recipe.image.thumb.url
    .ingredient
      [材料]
      = "(#{@recipe.serving_id}人分)"
      .delete-items
        = link_to "全て未購入にする", destroy_all_buy_item_path(buy_item: {user_id: current_user.id, recipe_id: @recipe.id}), method: :delete, class: "all_delete_btn"
      .ingredient-detail
        - @ingredient.each do |ingredient|
          .ingredient
            = ingredient.name
            .items
              = ingredient.amount
              .item-btn
                %div{id: "item_buttons_#{ingredient.id}"}
                  = render 'item', {ingredient: ingredient}
  .recipe-make
    [作り方]
    - @recipe.makes.each do |make|
      .content
        = "[#{make.order_id}]"
        = make.sentence
.comments
  .comments-form
    = form_with model: [@recipe, @comment], local: true do |comment|
      .comment-area
        = comment.text_area :text, placeholder: "コメントする"
      .comment-sub
        = comment.submit "送信"
  .comments-form__text-all
    %h4
      ＜コメント一覧＞
    - if @comments.present?
      - @comments.order('created_at DESC').each do |comment|
        .comments-form__text-all__list
          .c-image
            - if comment.user.image?
              = image_tag comment.user.image.thumb.url
            - else
              = image_tag asset_path('default.png')
          .c-name
            = link_to comment.user.name, user_path(comment.user.id), class:"user_name_font"
            .c-text
              = comment.text
          .destroy-btn
          - if comment.user == current_user
            = link_to recipe_comment_path(@recipe, comment), method: :delete do
              = icon("fas", "trash-alt", class: "btn")
    - else
      = "まだコメントがありません"