.word
  %h1.top_title
    新着レシピ
.top-list
  - @recipes.each do |recipe|
    .top-box
      .top-name
        = link_to "#{recipe.name}", recipe_path(recipe.id), class: "recipe_name_font"
        .like
          %div{id: "likes_buttons_#{recipe.id}"}
            = render 'recipes/favorite', {recipe: recipe}
      .top-image
        = image_tag recipe.image.thumb.url
        .top-introduction
          = recipe.introduction
      .user-image
        - if recipe.user.image?
          = image_tag recipe.user.image.thumb.url
        - else
          = image_tag asset_path('default.png')
        .user-name
          = link_to "#{recipe.user.name}", user_path(recipe.user.id), class: "user_name_font"
.to-index
  = link_to "新着レシピをもっと見る", recipes_path, class: "top_link"
.word
  %h1
    人気ランキング
.rank-list
  - @rank.each_with_index do |recipe, rank|
    .rank-box
      .rank-int
        = "#{rank + 1}位"
      .rank-name
        = link_to "#{recipe.name}", recipe_path(recipe.id), class: "recipe_name_font"
        .like
          %div{id: "likes_buttons_#{recipe.id}"}
            = render 'recipes/favorite', {recipe: recipe}
      .rank-image
        = image_tag recipe.image.thumb.url
        .rank-introduction
          = recipe.introduction
      .user-image
        - if recipe.user.image?
          = image_tag recipe.user.image.thumb.url
        - else
          = image_tag asset_path('default.png')
        .user-name
          = link_to "#{recipe.user.name}", user_path(recipe.user.id), class: "user_name_font"
.to-rank
  = link_to "人気ランキングをもっと見る", rank_favorite_path, class: "top_link"