.user-mypage
  .user-mypage__name
    = "#{@user.name}さんのページ"
    .image
      - if @user.image?
        = image_tag @user.image.thumb.url
      - else
        = image_tag asset_path('default.png')
    .btn
      - if current_user_has?(@user)
        .link.prof
          = link_to "プロフィールの編集", edit_user_registration_path, method: :get, class: "link_font"
        .link.write
          = link_to "レシピを書く", new_recipe_path, method: :get, class: "link_font"
        .link.favorite
          = link_to "お気に入り", favorites_path, method: :get, class: "link_font"
      - else

  .user-recipes
    = "#{@user.name}さんの新着レシピ"
    .top-list
      - @user.recipes.order(created_at: :desc).each do |recipe|
        .top-box
          .top-name
            = link_to "#{recipe.name}", "/recipes/#{recipe.id}", class: "recipe_name_link"
          .top-image
            - if recipe.image?
              = image_tag recipe.image.thumb.url
            - else
              = image_tag asset_path('default.png')
            .top-introduction
              = recipe.introduction