.user-mypage
  .user-mypage__name
    = "#{@user.name}さんのページ"
    .image
      - if @user.image?
        = image_tag @user.image.thumb.url
      - else
        = image_tag asset_path('default.png', class: "image")
    .btn
      - if current_user_has?(@user)
        = link_to "プロフィールの編集", edit_user_registration_path, method: :get
        = link_to "レシピを書く", new_recipe_path, method: :get
        = link_to "お気に入り", favorites_path, method: :get
      - else
.user-recipes
  = "#{@user.name}さんの新着レシピ"
  .user-recipes__list
    - @user.recipes.order(created_at: :desc).each do |r|
      .box
        .r-name
          = link_to "#{r.name}", "/recipes/#{r.id}", class: "rr-name"
        .r-image
          - if r.image?
            = image_tag r.image.thumb.url
          - else
            = image_tag asset_path('default.png')