.user-mypage
  = "#{@user.name}さんのページ"

  - if @user.image?
    = image_tag @user.image.thumb.url
  -else
    = image_tag '/assets/default.png', class: "image"
  = button_to "プロフィールの編集", edit_user_registration_path, method: :get, class: "btn"
  = button_to "レシピを書く", new_recipe_path, method: :get, class: "btn"