.header-title
  = link_to "My kitchen", root_path, class: "title"

.navigation-bar
  %ul.navigation-category
    %li.navigation-list
      = link_to "ジャンル", root_path, class: "list"
      .navigation-category__item
        %ul.item-box
          %li.category-item
            = link_to "主食", category_path(id: 1), class: "item"
          %li.category-item
            = link_to "主菜", category_path(id: 2), class: "item"
          %li.category-item
            = link_to "副菜", category_path(id: 3), class: "item"
          %li.category-item
            = link_to "おつまみ", category_path(id: 4), class: "item"
          %li.category-item
            = link_to "スープ", category_path(id: 5), class: "item"
          %li.category-item
            = link_to "スイーツ", category_path(id: 6), class: "item"

  %ul.navigation-category
    %li.navigation-list
      = link_to "人数別", root_path, class: "list"
      .navigation-category__item
        %ul.item-box
          %li.category-item
            = link_to "1人分", research_recipe_path(id: 1), class: "item"
          %li.category-item
            = link_to "2人分", research_recipe_path(id: 2), class: "item"
          %li.category-item
            = link_to "3人分", research_recipe_path(id: 3), class: "item"
          %li.category-item
            = link_to "4人分", research_recipe_path(id: 4), class: "item"
          %li.category-item
            = link_to "5人分〜", research_recipe_path(id: 5), class: "item"

  %ul.navigation-category
    %li.navigation-list
      = link_to "ランキング", root_path, class: "list"
      .navigation-category__item
        %ul.item-box
          %li.category-item
            = link_to "ランキング", rank_favorite_path, class: "item"

  %ul.navigation-category
    %li.navigation-list
      = link_to "お悩み相談", root_path, class: "list"
      .navigation-category__item
        %ul.item-box
          %li.category-item
            = link_to "お悩み一覧", troubles_path, class: "item"

.search-form
  = form_with url: search_recipes_path, method: :get, local: true do |f|
    = f.text_field :keyword, placeholder: "レシピ名で検索"
    = button_tag do
      = icon("fas", "search")

.header-btn
  - if user_signed_in?
    = link_to "/users/#{current_user.id}", method: :get do
      = icon("fas", "user-alt", class: "user-btn")
    = link_to destroy_user_session_path, method: :delete do
      = icon("fas", "sign-out-alt", class: "sign-out-btn")
    
  - else
    = link_to new_user_registration_path, method: :get do
      = icon("fas", "user-plus", class: "user-btn")
    = link_to new_user_session_path, method: :get do
      = icon("fas", "sign-in-alt", class: "sign-out-btn")